.container{
    border:5px solid rgb(0, 0, 0) ;
    background-color: rgb(50, 221, 41);
    padding: 20px;
    margin: 20px auto;
    text-align: center;
}
.pic{
     border:5px solid rgb(0, 0, 0) ;
    margin: 20px auto;
    text-align: center;
}